.top ul, li{
    display: flex;
    list-style: none;
    justify-content: center;
}
.menubar ul, li{
    display: flex;
    text-align: center;
    list-style: none;
    justify-content: center;
}
.menubar li.li-one:hover{
    background-color: gray;
}
.menubar li.li-two:hover{
    background-color: rgb(255, 4, 4);
}
.menubar li.li-three:hover{
    background-color: rgb(255, 106, 0);
}
.menubar li.li-four:hover{
    background-color: rgb(255, 251, 0);
}
.menubar li.li-five:hover{
    background-color: rgb(0, 155, 16);
}
.menubar li.li-six:hover{
    background-color: rgb(11, 105, 255);
}
.menubar li.li-seven:hover{
    background-color: rgb(20, 0, 100);
}
.menubar li.li-two, li.li-three, li.li-four, li.li-five, li.li-six{
    padding-left: 10px;
    padding-right: 10px;
}
.body div.body-cardone h3,p{
    padding-left: 15px;
}
.body div.body-cardone{
    background-color: rgb(48, 48, 48);
    font-family: "Flexo-Medium",arial,sans-serif;
    width: fit-content;
    color: white;
    float: left;
    margin-left: 30%;
    border-radius: 8px;
}
.body div.body-cardone:hover{
}
.body div.body-cardone img{
    width: 100%;
}
.body div.body-cardtwo{
    background-color: rgb(148, 80, 148);
    font-family: "Flexo-Medium",arial,sans-serif;
    width: 12%;
    color: white;
    margin-right: 160px;
    float: left;
    margin-left: 15px;
    border-radius: 8px;
}
.body div.body-cardtwo img{
    width: 100%;
}
.body div.body-cardtwo h3{
    padding-left: 15px;
}
.body div.body-cardthree{
    background-color: rgb(148, 80, 148);
    font-family: "Flexo-Medium",arial,sans-serif;
    width: 12%;
    color: white;
    margin-right: 160px;
    margin-top: 15px;
    float: left;
    margin-left: 15px;
    border-radius: 8px;
}
.body div.body-cardthree img{
    width: 100%;
}
.body div.body-cardthree h3{
    padding-left: 15px;
    font-family: "Flexo-Medium",arial,sans-serif;
}